<template>
  <div>
    <!-- Conditional-view / -->
    <IterationView />
  </div>
</template>

<script>
//import ConditionalView from './components/Conditional.vue';
import IterationView from './components/Iteration.vue';
  export default {
    components: {
      //ConditionalView,
      IterationView,
    },
  }
</script>

<style lang="scss" scoped>
  
</style>